:root {
    /* COLORS */
    --js-black: #2f2e2d;
    --js-white: #fefee7;
    --js-yellow: #f6df1c;
    /* FONT FAMILIES */
    --titles-font: 'Ubuntu', sans-serif;
    --content-font: 'BioRhyme', serif;
    /* FONT SIZES */
    --main-titles-size: 2.8rem;
    --subtitles-size: 2.2rem;
    --common-texts-size: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--js-white);
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--js-black);
    font-family: var(--titles-font);
    font-size: var(--main-titles-size);
}

input {
    outline: none;
}

.go-back-button {
    color: black;
    font-family: var(--content-font);
    font-size: var(--common-texts-size);
    font-weight: bolder;
    position: absolute;
    left: 20px;
    top: 10px;
    text-decoration: none;
}

.go-back-button:hover span {
    text-decoration: underline;
}

.js-challenge {
    color: var(--js-black);
    font-family: var(--titles-font);
    font-size: var(--common-texts-size);
    font-weight: bolder;
    position: absolute;
    right: 20px;
    top: 15px;
    text-decoration: none;
}

.js-challenge:hover {
    color: var(--js-yellow);
    font-style: italic;
}

.middle {
    height: calc(100% - 75px);
}

.figure-chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.figure-chooser__label {
    color: var(--js-black);
    font-family: var(--content-font);
    font-size: var(--main-titles-size);
    margin-bottom: 10px;
    text-align: center;
}

.figure-chooser__selector {
    color: black;
    font-size: var(--subtitles-size);
    width: 350px;
}

.main-figure-page {
    background-color: var(--js-yellow);
    border-top: 15px solid var(--js-black);
    border-bottom: 15px solid var(--js-black);
    display: none;
    justify-content: center;
    padding: 30px;
    height: auto;
}

.figure-section {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.figure-section__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.figure-section__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.figure-section__form--label {
    color: var(--js-black);
    font-family: var(--content-font);
    font-size: var(--subtitles-size);
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin: 10px 0;
}

.figure-section__form--input {
    color: black;
    font-size: var(--common-texts-size);
    margin: 0 10px;
    height: 30px;
    width: 60px;
}

.form-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 50%;
}

.form-button {
    background-color: var(--js-white);
    color: var(--js-black);
    font-family: var(--titles-font);
    font-size: var(--common-texts-size);
    margin: 5px 0;
    padding: 5px;
    width: 250px;
}

.form-button:hover {
    cursor: pointer;
}

.footer {
    background-color: var(--js-black);
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--content-font);
    font-weight: bold;
    padding: 0 20px;
    position: fixed;
    height: 75px;
    width: 100%;
}

.footer-course {
    display: flex;
    align-items: center;
    font-family: var(--titles-font);
    font-weight: 400;
    text-decoration: none;
    height: 100%;
}

.footer-course:hover .footer-course__name {
    text-decoration: underline;
}

.footer-course:hover .footer-course__logo {
    transform: rotate(360deg);
    transition: all 1.5s ease;
}

.footer-course__name {
    color: var(--js-yellow);
    font-size: var(--common-texts-size);
    margin-left: 10px;
}

.footer-course__logo {
    height: 65%;
}

.footer-sign {
    color: var(--js-yellow);
    font-size: var(--subtitles-size);
    text-decoration: none;
}

.footer-sign:hover {
    text-decoration: underline;
}