:root {
    /* COLORS */
    --js-black: #2f2e2d;
    --js-white: #fefee7;
    --js-yellow: #f6df1c;
    /* FONT FAMILIES */
    --titles-font: 'Ubuntu', sans-serif;
    --content-font: 'BioRhyme', serif;
    /* FONT SIZES */
    --main-titles-size: 3.5rem;
    --subtitles-size: 2.5rem;
    --common-texts-size: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--js-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

input {
    outline: none;
}

.header,
.footer {
    background-color: var(--js-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

.header {
    border-bottom: thin solid black;
    height: 5vh;
}

.header__go-back {
    color: white;
    font-family: var(--content-font);
    font-size: var(--common-texts-size);
    font-weight: bolder;
    text-decoration: none;
}

.header__go-back:hover span {
    text-decoration: underline;
}

.header__title {
    color: var(--js-yellow);
    font-family: var(--content-font);
    font-size: var(--common-texts-size);
}

.header__hashtag {
    color: var(--js-white);
    font-family: var(--titles-font);
    font-size: var(--common-texts-size);
    font-weight: bolder;
    text-decoration: none;
}

.header__hashtag:hover {
    color: var(--js-yellow);
    font-style: italic;
}

.figure-chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.figure-chooser__label {
    color: var(--js-black);
    font-family: var(--content-font);
    font-size: var(--main-titles-size);
    line-height: 3.5rem;
    text-align: center;
}

.figure-chooser__selector {
    color: black;
    font-size: var(--subtitles-size);
    width: 350px;
}

.main-figure-page {
    background-color: var(--js-yellow);
    border-top: 15px solid var(--js-black);
    border-bottom: 15px solid var(--js-black);
    display: none;
    justify-content: center;
    padding: 1vh;
    min-height: 40vh;
    height: auto;
}

.figure-section {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.figure-section__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--js-black);
    font-family: var(--titles-font);
    font-size: var(--main-titles-size);
    text-align: center;
    text-transform: uppercase;
}

.figure-section__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 35vh;
    height: 100%;
}

.figure-section__form--label {
    color: var(--js-black);
    font-family: var(--content-font);
    font-size: var(--subtitles-size);
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin: 1.5vh 0;
}

.figure-section__form--input {
    color: black;
    font-size: var(--common-texts-size);
    height: 30px;
    width: 60px;
}

.form-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1.5vh;
    width: 50%;
}

.form-button {
    background-color: var(--js-white);
    color: var(--js-black);
    font-family: var(--titles-font);
    font-size: var(--common-texts-size);
    margin-top: 5px;
    padding: 1.5vh;
    width: 225px;
}

.form-button:hover {
    cursor: pointer;
}

.result-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    max-height: 15vh;
    height: 100%;
    min-width: 750px;
    width: 50%;
}

.result-section__message {
    color: black;
    font-size: var(--subtitles-size);
    font-family: var(--titles-font);
}

.result-section__value {
    background-color: var(--js-black);
    border-radius: 20px;
    color: var(--js-yellow);
    display: flex;
    flex-direction: row;
    font-size: var(--main-titles-size);
    font-family: var(--content-font);
    font-weight: bolder;
    padding: .5vh 2.5vh;
}

.result-section__value--number,
.result-section__value--unit {
    margin: 0 5px;
}

.footer {
    background-color: var(--js-black);
    border-top: thin solid black;
    margin-top: auto;
    position: relative;
    height: 10vh;
}

.footer-course {
    clear: both;
    display: flex;
    align-items: center;
    font-family: var(--titles-font);
    font-weight: 400;
    text-decoration: none;
    height: 100%;
}

.footer-course:hover .footer-course__name {
    text-decoration: underline;
}

.footer-course:hover .footer-course__logo {
    transform: rotate(360deg);
    transition: all 1.5s ease;
}

.footer-course__name {
    color: var(--js-yellow);
    font-size: var(--common-texts-size);
    margin-left: 10px;
}

.footer-course__logo {
    height: 65%;
}

.footer-sign {
    color: var(--js-yellow);
    font-family: var(--content-font);
    font-size: var(--subtitles-size);
    font-weight: bold;
    text-decoration: none;
}

.footer-sign:hover {
    text-decoration: underline;
}